.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Buttons */

.nav-button {
  background-color: rgb(194, 250, 231);
  border: none;
  font-family: "Poiret One", cursive;
  font-size: 26px;
  padding: 10px;
  margin: 5px;
  width: 175px;
}

#on-page-buttons {
  font-family: "Poiret One", cursive;
  border: none;
  background-color: rgb(170, 202, 245);
  padding: 8px;
  margin: 5px;
  font-size: 22px;
}

.on-page-buttons {
  font-family: "Poiret One", cursive;
  border: none;
  background-color: rgb(170, 202, 245);
  padding: 8px;
  margin: 5px;
  font-size: 18px;
}

/* Headers & Inputs */

#page-headers {
  font-family: "Poiret One", cursive;
}

.inputs {
  font-family: "Poiret One", cursive;
  font-size: 20px;
}

/* -----containers----- */
#entry-container {
  font-family: "Poiret One", cursive;
}

#entry-container-2 {
  font-family: "Poiret One", cursive;
}

/* -----main body------ */

#main-body {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 25px;
}
